$shadowColor: rgba(0, 0, 0, 0.8);

.music-card {
  height: 100%;

  &-list {
    margin-left: 40px;
    margin-right: 100px;
    background: rgba(255,192,203,0.5);
    line-height: 16px;
    font-weight: bold;
    width: 260px;
    border-radius: 8px;
    box-shadow: 4px 8px 9px -4px $shadowColor;

    animation: cardMove 0.8s;

    &-actions {
      width: 100px;
      display: flex;
      justify-content: space-around;
    }
    &-item {
      line-height: 16px;
      padding-left: 15px;
    }
  }
}

@keyframes cardMove {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
  }
}
