.detail-modal {
  width: 50vw !important;
  .ant-modal-content {
    background: rgba(255, 255, 255, 0.6);
    .ant-modal-header {
      background: rgba(255, 255, 255, 0.6);
    }
  }

  &-list {
    border-bottom: none !important;
    height: 24px;
    display: flex;
    margin-bottom: 10px;

    &-name {
      margin-left: -70px;
    }
  }
}
