$backgroundColor: rgba(255, 255, 255, 0.6);

.detail-modal {
  width: 50vw !important;
  .ant-modal-content {
    background: $backgroundColor;
    .ant-modal-header {
      background: $backgroundColor;
    }
  }

  &-table {
    .ant-table {
      background: $backgroundColor;
    }
    &-music {
      margin-bottom: 0 !important;
      line-height: 16px;
      width: 300px !important;
    }
  }
}
