$color: rgba(128,0,128,0.6);

.about {
  background: $color;
  padding-left: 20%;

  a {
    color: #eee;
  }

  &-view {
    border: 2px #eee solid;
    border-radius: 6px;
    width: 80%;
    box-shadow: 8px 8px 5px $color;
    padding-bottom: 48px;

    &-ava {
      transform: scale(3);
      box-shadow: 0 0 6px $color;
    }

    &-desc {
      margin-left: 100px;
    }
  }
}
