.music {
  background: rgba(0, 0, 255, 0.6);

  &-main {
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 18%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &-line {
      position: absolute;
      top: 50%;
      width: 70%;
      right: 120px;
      border-bottom: 3px red solid;
    }

    &-list {
      padding-top: 25px;
      width: 24%;
      //max-width: 33.3%; // 加入这两个后每个item的宽度就生效了

      &-card {
        //border: 2px solid black;
      }
    }

    &-profile {
      width: 72%;
      padding-top: 25px;
      //border: 2px #eee solid;
    }
  }
}
