.music {
  background: rgba(0, 0, 255, 0.6);

  &-main {
    height: 100%;
    width: 100%;
    padding-left: 18%;
    padding-right: 20px;
    border: 2px saddlebrown solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}
