//.login-form {
//  margin: 100px auto;
//  width: 380px;
//}
//
//#components-form-demo-normal-login .login-form-forgot {
//  float: right;
//}
//#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
//  float: left;
//}
//#components-form-demo-normal-login .login-form-button {
//  width: 100%;
//}

.login {
  background: rgba(255,102,0,0.5);

  &-form {
    width: 380px;

    &-link {
      color: #eee;
    }
  }
}
